.button {
  background: #FDBF5A;
  border-radius: 70px;
  text-align: center;
  width: 100%;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000
}