.Unauthorized {
    display: flex;
    height: 100vh;
    width: 100%;
}

.Unauthorized__block {
  width: 70%;
  background-image: url(../../assets/img/map.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}